<h2 class="display-5">Edit Profile</h2>
<form [formGroup]="editForm">
  <div class="form-group mb-2">
    <label for="name">Name</label
    ><input
      class="form-control"
      type="text"
      id="name"
      maxlength="255"
      formControlName="Name"
    />
  </div>
  <div class="form-group mb-2">
    <label for="address">Address</label
    ><textarea
      class="form-control"
      id="address"
      rows="3"
      maxlength="255"
      formControlName="Address"
    ></textarea>
  </div>
  <div class="form-group mb-2">
    <label for="date_of_birth">Date of Birth</label
    ><input
      class="form-control"
      type="date"
      id="date_of_birth"
      formControlName="Date_of_birth"
    />
  </div>
  <button class="btn btn-primary" type="submit" (click)="onSave()">
    Save Profile
  </button>
  <a routerLink=""><button class="btn">Cancel</button></a>
</form>
